<form name="signUpForm" role="form" novalidate ng-submit="ctrl.viewModel.onSubmit()">

    <div class="form-group">
        <label for="email">{{'SIGNUPFORM_EMAIL' | translate}}</label>
        <input type="text" id="email" class="form-control" name="email" ng-model="ctrl.viewModel.user.email"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }"
               placeholder="{{'SIGNUPFORM_EMAIL' | translate}}"
               minlength="0" maxlength="1024" required>

        <div ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched">
            <div ng-message="required">{{'SIGNUPFORM_EMAIL_REQUIRED' | translate}}</div>
            <div ng-message="minlength">{{'SIGNUPFORM_EMAIL_MINLENGTH' | translate:'{ minlength: 0 }'}}</div>
            <div ng-message="maxlength">{{'SIGNUPFORM_EMAIL_MAXLENGTH' | translate:'{ maxlength: 1024 }'}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">{{'SIGNUPFORM_PASSWORD' | translate}}</label>
        <input type="text" id="password" class="form-control" name="password" ng-model="ctrl.viewModel.user.password"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }"
               placeholder="{{'SIGNUPFORM_PASSWORD' | translate}}"
               minlength="0" maxlength="1024" required>

        <div ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched">
            <div ng-message="required">{{'SIGNUPFORM_PASSWORD_REQUIRED' | translate}}</div>
            <div ng-message="minlength">{{'SIGNUPFORM_PASSWORD_MINLENGTH' | translate:'{ minlength: 0 }'}}</div>
            <div ng-message="maxlength">{{'SIGNUPFORM_PASSWORD_MAXLENGTH' | translate:'{ maxlength: 1024 }'}}</div>
        </div>
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="signUpForm.$invalid">{{'SIGNUPFORM_SUBMIT' | translate}}</button>
</form>
