<form name="userUpdateForm" role="form" novalidate ng-submit="ctrl.viewModel.onSubmit()">

    <div class="form-group">
        <label for="id">{{'USERUPDATEFORM_ID' | translate}}</label>
        <input type="number" id="id" class="form-control" name="id" ng-model="ctrl.viewModel.user.id"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }"
               placeholder="{{'USERUPDATEFORM_ID' | translate}}"
                 required>

        <div ng-messages="userUpdateForm.id.$error" ng-if="userUpdateForm.id.$touched">
            <div ng-message="required">{{'USERUPDATEFORM_ID_REQUIRED' | translate}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="role">{{'USERUPDATEFORM_ROLE' | translate}}</label>
        <input type="number" id="role" class="form-control" name="role" ng-model="ctrl.viewModel.user.role"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }"
               placeholder="{{'USERUPDATEFORM_ROLE' | translate}}"
                 required>

        <div ng-messages="userUpdateForm.role.$error" ng-if="userUpdateForm.role.$touched">
            <div ng-message="required">{{'USERUPDATEFORM_ROLE_REQUIRED' | translate}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">{{'USERUPDATEFORM_PASSWORD' | translate}}</label>
        <input type="text" id="password" class="form-control" name="password" ng-model="ctrl.viewModel.user.password"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }"
               placeholder="{{'USERUPDATEFORM_PASSWORD' | translate}}"
               minlength="0" maxlength="1024" >

        <div ng-messages="userUpdateForm.password.$error" ng-if="userUpdateForm.password.$touched">
            <div ng-message="minlength">{{'USERUPDATEFORM_PASSWORD_MINLENGTH' | translate:'{ minlength: 0 }'}}</div>
            <div ng-message="maxlength">{{'USERUPDATEFORM_PASSWORD_MAXLENGTH' | translate:'{ maxlength: 1024 }'}}</div>
        </div>
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="userUpdateForm.$invalid">{{'USERUPDATEFORM_SUBMIT' | translate}}</button>
</form>
